<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<div th:replace="fragments/head :: head"></div>

<body class="container">
	<div th:replace="fragments/header :: header">...</div>

	<h1 id="pageTitle">Constellations</h1>

	<div style="margin-bottom: 1em;">
		<form id="constellationForm" name="constellationForm" action="" th:action="@{/constellation}"
			th:object="${constellation}" method="post">
			<input type="hidden" id="constellationId" th:field="*{id}" /> <label>Name*:</label>
			<input type="text" id="constellationName" th:field="*{name}" /> 
			<button type="submit" id="submitButton" name="submitButton" class="btn btn-primary">Save</button>
		</form>
	</div>

	<div id="emptyMessage" th:unless="${!constellations.empty}">
		No constellations
	</div>

	<table id="constellations" class="table" th:unless="${constellations.empty}">
		<thead>
			<tr>
				<th style="width: 2%;">&nbsp;</th>
				<th style="width: 2%;">&nbsp;</th>
				<th style="width: 2%;">ID</th>
				<th>Name</th>

			</tr>
		</thead>
		<tbody>
			<tr th:each="constellation: ${constellations}"
				th:id="@{'constellation-' + ${constellation.id}}">
				<td class="constellation-delete"><a
					th:href="@{'/constellation/delete/' + ${constellation.id}}"><i
						class="fas fa-trash-alt"></i></a></td>
				<td class="constellation-modify"><a
					th:href="@{'/constellation/modify/' + ${constellation.id}}"><i
						class="fas fa-edit"></i></a></td>
				<td class="constellation-id" th:text="${constellation.id}" />
				<td class="constellation-name" th:id="@{'constellation-name-' + ${constellation.id}}"
					th:text="${constellation.name}" />
			</tr>
		</tbody>
	</table>
</body>
</html>