<div th:fragment="header">
    <head>
        <title>DeepSky Objects Manager</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

        <!-- Latest compiled and minified CSS -->
        <link th:href="@{/libs/bootstrap-4.3.1-dist/css/bootstrap.min.css}" rel="stylesheet"/>

        <link th:href="@{/libs/fontawesome/5.12.1/css/all.css}" rel="stylesheet"/>

        <!-- Optional theme -->
        <link th:href="@{/libs/bootstrap-4.3.1-dist/bootstrap-theme.min.css}" rel="stylesheet"/>

        <script src="/libs/jquery-3.5.1/jquery-3.5.1.min.js"></script>

        <!-- Latest compiled and minified JavaScript -->
        <script src="/libs/bootstrap-4.3.1-dist/js/bootstrap.min.js"></script>

    </head>
</div>